---
import Layout from "../../layouts/Layout.astro";
---

<Layout
	title="MNL Innovation - IT Consulting"
	keywords="Data analytics, data visualization, business intelligence, data-driven decisions, predictive analytics"
	description=" MNL Innovation - IT Consulting"
>
	<div class="bg-white mt-20">
		<main
			class="mx-auto px-4 pb-24 pt-14 sm:px-6 sm:pb-32 sm:pt-16 lg:max-w-7xl lg:px-8"
		>
			<!-- Product -->
			<div
				class="lg:grid lg:grid-cols-7 lg:grid-rows-1 lg:gap-x-8 lg:gap-y-10 xl:gap-x-16"
			>
				<!-- Product image -->
				<div class="lg:col-span-4 lg:row-end-1">
					<div
						class="aspect-h-3 aspect-w-4 overflow-hidden rounded-lg bg-gray-100"
					>
						<img
							src="/images/services/it.webp"
							alt="MNL Innovation Cibersecurity"
							class="object-cover object-center bg-repeat"
						/>
					</div>
				</div>

				<!-- Product details -->
				<div
					class="mx-auto mt-14 max-w-2xl sm:mt-16 lg:col-span-3 lg:row-span-2 lg:row-end-2 lg:mt-0 lg:max-w-none"
				>
					<div class="flex flex-col-reverse">
						<div class="mt-4">
							<h1
								class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl"
							>
								IT Consulting Services
							</h1>

							<h2 id="information-heading" class="sr-only">
								IT Consulting Services
							</h2>
						</div>
					</div>

					<p class="mt-6 text-gray-500">
						IT Consulting is the process of advising organizations on how best
						to use information technology to meet business objectives. Whether
						you’re modernizing your infrastructure, adopting cloud services,
						strengthening security, or aligning IT with strategic goals, our
						consulting services help you make confident, future-ready decisions.
						We provide expert guidance to optimize your technology stack,
						increase operational efficiency, and reduce risk.
					</p>

					<div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-1">
						<a
							href="/contact?service=itconsulting"
							class="flex w-full items-center justify-center rounded-md border bg-[#00629E] px-8 py-3 text-base font-medium text-white hover:bg-[#00629E] hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2"
						>
							Contact
						</a>
					</div>

					<!-- Lista de servicios -->
					<div class="mt-10 border-t border-gray-200 pt-10">
						<h3 class="text-xl font-medium text-gray-900">
							Key Features of Our IT Consulting Services
						</h3>
						<div class="prose prose-sm mt-4 text-gray-500">
							<ul role="list" class="space-y-6">
								<li class="relative flex gap-x-4">
									<div
										class="absolute left-0 top-0 flex w-6 justify-center -bottom-6"
									>
										<div class="w-px bg-gray-200"></div>
									</div>
									<div
										class="relative flex h-6 w-6 flex-none items-center justify-center bg-white"
									>
										<div
											class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-[#1dc690]"
										>
										</div>
									</div>
									<p class="flex-auto py-0.5 text-xs leading-5 text-gray-500">
										<span class="font-medium text-gray-900"
											><strong>Strategic IT Planning:</strong> Roadmaps tailored
											to your short-term needs and long-term goals.</span
										>
									</p>
								</li>
								<li class="relative flex gap-x-4">
									<div
										class="absolute left-0 top-0 flex w-6 justify-center -bottom-6"
									>
										<div class="w-px bg-gray-200"></div>
									</div>
									<div
										class="relative flex h-6 w-6 flex-none items-center justify-center bg-white"
									>
										<div
											class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-[#1dc690]"
										>
										</div>
									</div>
									<p class="flex-auto py-0.5 text-xs leading-5 text-gray-500">
										<span class="font-medium text-gray-900"
											><strong>Technology Assessments:</strong> Full evaluation of
											your current infrastructure, systems, and tools.</span
										>
									</p>
								</li>
								<li class="relative flex gap-x-4">
									<div
										class="absolute left-0 top-0 flex w-6 justify-center -bottom-6"
									>
										<div class="w-px bg-gray-200"></div>
									</div>
									<div
										class="relative flex h-6 w-6 flex-none items-center justify-center bg-white"
									>
										<div
											class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-[#1dc690]"
										>
										</div>
									</div>
									<p class="flex-auto py-0.5 text-xs leading-5 text-gray-500">
										<span class="font-medium text-gray-900"
											><strong>Digital Transformation: </strong> Guidance on adopting
											modern solutions like cloud, automation, and analytics.</span
										>
									</p>
								</li>
								<li class="relative flex gap-x-4">
									<div
										class="absolute left-0 top-0 flex w-6 justify-center -bottom-6"
									>
										<div class="w-px bg-gray-200"></div>
									</div>
									<div
										class="relative flex h-6 w-6 flex-none items-center justify-center bg-white"
									>
										<div
											class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-[#1dc690]"
										>
										</div>
									</div>
									<p class="flex-auto py-0.5 text-xs leading-5 text-gray-500">
										<span class="font-medium text-gray-900"
											><strong>Security & Compliance Advisory: </strong>Risk
											mitigation strategies and regulatory alignment.</span
										>
									</p>
								</li>
								<li class="relative flex gap-x-4">
									<div
										class="relative flex h-6 w-6 flex-none items-center justify-center bg-white"
									>
										<div
											class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-[#1dc690]"
										>
										</div>
									</div>
									<p class="flex-auto py-0.5 text-xs leading-5 text-gray-500">
										<span class="font-medium text-gray-900"
											><strong>Cost Optimization:</strong>Identify
											inefficiencies and reduce unnecessary IT spending.</span
										>
									</p>
								</li>
								<li class="relative flex gap-x-4">
									<div
										class="relative flex h-6 w-6 flex-none items-center justify-center bg-white"
									>
										<div
											class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-[#1dc690]"
										>
										</div>
									</div>
									<p class="flex-auto py-0.5 text-xs leading-5 text-gray-500">
										<span class="font-medium text-gray-900"
											><strong>Vendor & Tool Selection:</strong> Support in choosing
											the right platforms, software, and service providers.</span
										>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div
					class="mx-auto mt-16 w-full max-w-2xl lg:col-span-4 lg:mt-0 lg:max-w-none"
				>
					<div>
						<div class="border-b border-gray-200">
							<h3
								class="text-gray-700 hover:text-gray-800 text-xl font-medium border-b-2 border-transparent hover:border-[#1dc690] py-6"
							>
								What’s Included in Our IT Consulting Services
							</h3>
						</div>

						<div
							id="tab-panel-faq"
							class="text-sm text-gray-500"
							aria-labelledby="tab-faq"
							role="tabpanel"
							tabindex="0"
						>
							<h3 class="sr-only">
								What’s Included in Our IT Consulting Services
							</h3>

							<dl>
								<dt class="mt-10 font-medium text-gray-900">
									IT infrastructure audits and performance evaluations
								</dt>

								<dt class="mt-10 font-medium text-gray-900">
									Cloud readiness and migration planning
								</dt>

								<dt class="mt-10 font-medium text-gray-900">
									Business continuity and disaster recovery consulting
								</dt>
								<dt class="mt-10 font-medium text-gray-900">
									Software and hardware lifecycle management
								</dt>
								<dt class="mt-10 font-medium text-gray-900">
									IT budgeting and procurement strategy
								</dt>
								<dt class="mt-10 font-medium text-gray-900">
									Cybersecurity strategy development
								</dt>
								<dt class="mt-10 font-medium text-gray-900">
									Collaboration and communication tools assessment
								</dt>
								<dt class="mt-10 font-medium text-gray-900">
									Support for compliance (HIPAA, GDPR, SOC 2, etc.)
								</dt>
							</dl>
						</div>
					</div>
				</div>
			</div>
			<div
				class="mx-auto mt-16 w-full max-w-2xl lg:col-span-4 lg:mt-0 lg:max-w-none"
			>
				<div>
					<div class="border-b border-gray-200 pt-5">
						<h3
							class="text-gray-700 hover:text-gray-800 text-xl font-medium border-b-2 border-transparent hover:border-[#1dc690] py-6"
						>
							Technologies & Platforms We Specialize In
						</h3>
					</div>

					<div
						id="tab-panel-faq"
						class="text-sm text-gray-500"
						aria-labelledby="tab-faq"
						role="tabpanel"
						tabindex="0"
					>
						<h3 class="sr-only">Technologies & Platforms We Specialize In</h3>

						<div
							id="tab-panel-faq"
							class="text-sm text-gray-500"
							aria-labelledby="tab-faq"
							role="tabpanel"
							tabindex="0"
						>
							<h3 class="sr-only">Technologies & Platforms We Specialize In</h3>

							<dl>
								<dt class="mt-10 font-medium text-gray-900">
									<strong>Microsoft 365 & Azure:</strong> Strategy, deployment, security,
									and integration with business tools.
								</dt>

								<dt class="mt-10 font-medium text-gray-900">
									<strong>Google Workspace & Cloud: </strong> Collaboration tools
									and cloud ecosystem consulting.
								</dt>
								<dt class="mt-10 font-medium text-gray-900">
									<strong>VMware & Hyper-V: </strong> Virtualization and hybrid cloud
									infrastructure.
								</dt>
								<dt class="mt-10 font-medium text-gray-900">
									<strong>Security Solutions: </strong> Kaspersky, Microsoft Defender,
									Cisco, Fortinet.
								</dt>
								<dt class="mt-10 font-medium text-gray-900">
									<strong>Productivity & Communication: </strong> Microsoft Teams,
									Zoom, SharePoint.
								</dt>
								<dt class="mt-10 font-medium text-gray-900">
									<strong>ITSM Tools: </strong> Jira Service Management.
								</dt>
								<dt class="mt-10 font-medium text-gray-900">
									<strong>ERP/CRM:</strong> SAP, Quickbooks.
								</dt>
							</dl>
						</div>
					</div>
				</div>
			</div>
			<div
				class="mx-auto mt-16 w-full max-w-2xl lg:col-span-4 lg:mt-0 lg:max-w-none"
			>
				<div class="mt-10 border-t border-gray-200 pt-10">
					<div class="border-b border-gray-200">
						<h3
							class="text-gray-700 hover:text-gray-800 text-xl font-medium border-b-2 border-transparent hover:border-[#1dc690] py-6"
						>
							Frequently Asked Questions (FAQs)
						</h3>
					</div>

					<div
						id="tab-panel-faq"
						class="text-sm text-gray-500"
						aria-labelledby="tab-faq"
						role="tabpanel"
						tabindex="0"
					>
						<h3 class="sr-only">Frequently Asked Questions (FAQs)</h3>

						<dl>
							<dt class="mt-10 font-medium text-gray-900">
								Q1: What does an IT consultant actually do?
							</dt>
							<dd class="prose prose-sm mt-2 max-w-none text-gray-500">
								<p>
									A:We analyze your current IT environment, identify improvement
									opportunities, recommend technology solutions, and help
									implement them to align IT with your business strategy.
								</p>
							</dd>
							<dt class="mt-10 font-medium text-gray-900">
								Q2: How do I know if my business needs IT consulting?
							</dt>
							<dd class="prose prose-sm mt-2 max-w-none text-gray-500">
								<p>
									A: If you're experiencing recurring IT issues, planning a
									technology upgrade, facing security risks, or need strategic
									direction for growth, IT consulting can provide the clarity
									and support you need.
								</p>
							</dd>
							<dt class="mt-10 font-medium text-gray-900">
								Q3: Do you help with implementation or just advice?
							</dt>
							<dd class="prose prose-sm mt-2 max-w-none text-gray-500">
								<p>
									A: Both. While our core service is advisory, we also offer
									implementation support through our managed services or by
									working alongside your internal team or vendors.
								</p>
							</dd>
							<dt class="mt-10 font-medium text-gray-900">
								Q4: Can you work with our internal IT department?
							</dt>
							<dd class="prose prose-sm mt-2 max-w-none text-gray-500">
								<p>
									A: Absolutely. We often collaborate with internal teams,
									providing additional expertise and helping them align with
									business priorities and best practices.
								</p>
							</dd>
							<dt class="mt-10 font-medium text-gray-900">
								Q5: Is IT consulting only for large enterprises?
							</dt>
							<dd class="prose prose-sm mt-2 max-w-none text-gray-500">
								<p>
									A: No. Small and mid-sized businesses benefit greatly from IT
									consulting, especially when resources are limited and
									technology decisions have a big impact.
								</p>
							</dd>
							<dt class="mt-10 font-medium text-gray-900">
								Q6: Do you offer one-time consulting or long-term engagements?
							</dt>
							<dd class="prose prose-sm mt-2 max-w-none text-gray-500">
								<p>
									A: Both. We provide one-time consultations, project-based
									engagements, and long-term advisory relationships depending on
									your needs.
								</p>
							</dd>
							<dt class="mt-10 font-medium text-gray-900">
								Q7: Can you help us prepare for a digital transformation?
							</dt>
							<dd class="prose prose-sm mt-2 max-w-none text-gray-500">
								<p>
									A: Yes. We offer complete digital transformation planning,
									covering cloud adoption, automation, data strategy, and
									process improvement.
								</p>
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</main>
	</div>
</Layout>
