---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="MNL Innovation - Microsoft 365 Services." keywords="Microsoft 365, Microsoft 365 Services, Microsoft 365 Migration, Microsoft 365 Support, Microsoft 365 Training, Microsoft 365 Security, Microsoft 365 Compliance, Microsoft 365 Customization, Microsoft 365 Automation" description="Microsoft 365 Services: Migration, deployment, security, compliance, and training. We help businesses leverage the full potential of Microsoft 365 for productivity and collaboration.">
	<div class="bg-white mt-20">
		<main
			class="mx-auto px-4 pb-24 pt-14 sm:px-6 sm:pb-32 sm:pt-16 lg:max-w-7xl lg:px-8"
		>
			<!-- Product -->
			<div
				class="lg:grid lg:grid-cols-7 lg:grid-rows-1 lg:gap-x-8 lg:gap-y-10 xl:gap-x-16"
			>
				<!-- Product image -->
				<div class="lg:col-span-4 lg:row-end-1">
					<div
						class="aspect-h-3 aspect-w-4 overflow-hidden rounded-lg bg-gray-100"
					>
						<img
							src="/images/services/microsoft.webp"
							alt="Microsoft 365 Services"
							class="object-cover object-center bg-repeat"
						/>
					</div>
				</div>

				<!-- Product details -->
				<div
					class="mx-auto mt-14 max-w-2xl sm:mt-16 lg:col-span-3 lg:row-span-2 lg:row-end-2 lg:mt-0 lg:max-w-none"
				>
					<div class="flex flex-col-reverse">
						<div class="mt-4">
							<h1
								class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl"
							>
								Microsoft 365 Services
							</h1>

							<h2 id="information-heading" class="sr-only">
								Microsoft 365 Services
							</h2>
						
						</div>
					</div>

					<p class="mt-6 text-gray-500">
						Collection of cloud-based productivity apps that includes Teams,
						SharePoint, Excel, OneDrive, Word, and PowerPoint. Though many of
						these tools have been with us for 30+ years, new technologies like
						the cloud, AI, and machine learning have brought the MS 365 suite
						into the digital age.
					</p>

					<div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-1">
						<a
							href="/contact?service=microsoft"
							class="flex w-full items-center justify-center rounded-md border bg-[#00629E] px-8 py-3 text-base font-medium text-white hover:bg-[#00629E] hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2"
						>
							Contact
						</a>
					</div>

                    <div class="mt-10 border-t border-gray-200 pt-10">
						<h3 class="text-sm font-bold text-gray-900">
							Empower Your Team with Microsoft 365
						</h3>
						<p class="mt-4 text-sm text-gray-500">
							Unlock productivity, collaboration, and security with our
							end-to-end Microsoft 365 services. Whether you're a small business
							or a large enterprise, we help you get the most out of Microsoft’s
							cloud ecosystem — from email and storage to advanced tools like
							Teams, SharePoint, and Power Automate.
						</p>
					</div>
                    <!-- Lista de servicios -->
					<div class="mt-10 border-t border-gray-200 pt-10">
						<h3 class="text-xl font-medium text-gray-900">Our Microsoft 365 Services Include:</h3>
						<div class="prose prose-sm mt-4 text-gray-500">
							<ul role="list" class="space-y-6">
								<li class="relative flex gap-x-4">
									<div
										class="absolute left-0 top-0 flex w-6 justify-center -bottom-6"
									>
										<div class="w-px bg-gray-200"></div>
									</div>
									<div
										class="relative flex h-6 w-6 flex-none items-center justify-center bg-white"
									>
										<div
											class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-[#1dc690]"
										>
										</div>
									</div>
									<p class="flex-auto py-0.5 text-xs leading-5 text-gray-500">
										<span class="font-medium text-gray-900">Migration & Deployment</span>  
									</p>
									
								</li>
								<li class="relative flex gap-x-4">
									<div
										class="absolute left-0 top-0 flex w-6 justify-center -bottom-6"
									>
										<div class="w-px bg-gray-200"></div>
									</div>
									<div
										class="relative flex h-6 w-6 flex-none items-center justify-center bg-white"
									>
										<div
											class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-[#1dc690]"
										>
										</div>
									</div>
									<p class="flex-auto py-0.5 text-xs leading-5 text-gray-500">
										<span class="font-medium text-gray-900">User & License Management</span> 
									</p>
									
								</li>
								<li class="relative flex gap-x-4">
									<div
										class="absolute left-0 top-0 flex w-6 justify-center -bottom-6"
									>
										<div class="w-px bg-gray-200"></div>
									</div>
									<div
										class="relative flex h-6 w-6 flex-none items-center justify-center bg-white"
									>
										<div
											class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-[#1dc690]"
										>
										</div>
									</div>
									<p class="flex-auto py-0.5 text-xs leading-5 text-gray-500">
										<span class="font-medium text-gray-900">Security & Compliance</span> 
									</p>
									
								</li>
								<li class="relative flex gap-x-4">
									<div
										class="absolute left-0 top-0 flex w-6 justify-center -bottom-6"
									>
										<div class="w-px bg-gray-200"></div>
									</div>
									<div
										class="relative flex h-6 w-6 flex-none items-center justify-center bg-white"
									>
										<div
											class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-[#1dc690]"
										>
										</div>
									</div>
									<p class="flex-auto py-0.5 text-xs leading-5 text-gray-500">
										<span class="font-medium text-gray-900">SharePoint & Teams Customization</span> 
									</p>
									
								</li>
								<li class="relative flex gap-x-4">
									<div
										class="relative flex h-6 w-6 flex-none items-center justify-center bg-white"
									>
										<div
											class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-[#1dc690]"
										>
										</div>
									</div>
									<p class="flex-auto py-0.5 text-xs leading-5 text-gray-500">
										<span class="font-medium text-gray-900">Automation with Power Platform</span> 
									</p>
									
								</li>
								<li class="relative flex gap-x-4">
									<div
										class="relative flex h-6 w-6 flex-none items-center justify-center bg-white"
									>
										<div
											class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-[#1dc690]"
										>
										</div>
									</div>
									<p class="flex-auto py-0.5 text-xs leading-5 text-gray-500">
										<span class="font-medium text-gray-900">Training & Support</span> 
									</p>
									
								</li>
							</ul>
						</div>
					</div>

					
				</div>

				<div
					class="mx-auto mt-16 w-full max-w-2xl lg:col-span-4 lg:mt-0 lg:max-w-none"
				>
					<div>
						<div class="border-b border-gray-200">
							<h3 class="text-gray-700 hover:text-gray-800 text-xl font-medium border-b-2 border-transparent hover:border-[#1dc690] py-6">
								Why Choose Us?
							</h3>
						</div>
						

						<div
							id="tab-panel-faq"
							class="text-sm text-gray-500"
							aria-labelledby="tab-faq"
							role="tabpanel"
							tabindex="0"
						>
							<h3 class="sr-only">Why Choose Us?</h3>

							<dl>
								<dt class="mt-10 font-medium text-gray-900">
									Certified Microsoft 365 specialists
								</dt>
								
								<dt class="mt-10 font-medium text-gray-900">
									Fast, secure implementation
								</dt>
								
                                <dt class="mt-10 font-medium text-gray-900">
									Tailored solutions to fit your business processes
								</dt>
                                <dt class="mt-10 font-medium text-gray-900">
									Reliable ongoing support and optimization
								</dt>
							</dl>
						</div>
					</div>
				</div>
				<div
					class="mx-auto mt-16 w-full max-w-2xl lg:col-span-4 lg:mt-0 lg:max-w-none"
				>
					<div>
						<div class="border-b border-gray-200">
							<h3 class="text-gray-700 hover:text-gray-800 text-xl font-medium border-b-2 border-transparent hover:border-[#1dc690] py-6">
								Frequently Asked Questions
							</h3>
						</div>
						

						<div
							id="tab-panel-faq"
							class="text-sm text-gray-500"
							aria-labelledby="tab-faq"
							role="tabpanel"
							tabindex="0"
						>
							<h3 class="sr-only">Frequently Asked Questions</h3>

							<dl>
								<dt class="mt-10 font-medium text-gray-900">
									Q1: What is Microsoft 365 and how is it different from Office 365?
								</dt>
								<dd class="prose prose-sm mt-2 max-w-none text-gray-500">
									<p>
										A: Microsoft 365 includes Office 365 plus additional security, device management, and collaboration features all under a unified subscription.
									</p>
								</dd>
								<dt class="mt-10 font-medium text-gray-900">
									Q2: Can I migrate from Google Workspace to Microsoft 365?
								</dt>
								<dd class="prose prose-sm mt-2 max-w-none text-gray-500">
									<p>
										A: Yes. We offer full migration services including emails, contacts, calendars, and documents.
									</p>
								</dd>
								<dt class="mt-10 font-medium text-gray-900">
									Q3: How secure is Microsoft 365?
								</dt>
								<dd class="prose prose-sm mt-2 max-w-none text-gray-500">
									<p>
										A: Microsoft 365 offers enterprise-grade security features including MFA, encryption, threat protection, and compliance tools.
									</p>
								</dd>
								<dt class="mt-10 font-medium text-gray-900">
									Q4: Can you help us build a company intranet using SharePoint?
								</dt>
								<dd class="prose prose-sm mt-2 max-w-none text-gray-500">
									<p>
										A: Absolutely. We specialize in designing branded, user-friendly SharePoint intranet portals tailored to your organization’s needs.
									</p>
								</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</Layout>
