---
interface Props {}

const {} = Astro.props;
---

<div class="mx-auto max-w-7xl px-6 lg:px-8 py-16">
    <div class="text-center">
        <h2 class="text-3xl font-bold text-gray-900 mb-6">Technology Partners</h2>
        <p class="text-lg text-gray-600">
            We collaborate with industry-leading technology providers to deliver the best solutions for your business.
        </p>
    </div>
    <div
        class="mt-12 grid grid-cols-2 gap-x-8 gap-y-12 sm:grid-cols-3 lg:grid-cols-5 items-center justify-center"
    >
        <img
            class="max-h-16 w-full object-contain"
            src="/images/HPE-logo.webp"
            alt="HPE"
        />
        <img
            class="max-h-16 w-full object-contain"
            src="/images/microsoft-logo.webp"
            alt="Microsoft"
        />
        <img
            class="max-h-16 w-full object-contain"
            src="/images/vmware-logo.webp"
            alt="VMware"
        />
        <img
            class="max-h-16 w-full object-contain"
            src="/images/Cisco-logo.webp"
            alt="Cisco"
        />
        <img
            class="max-h-16 w-full object-contain"
            src="/images/google-color.webp"
            alt="Github"
        />
        
    </div>
</div>
