---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
	title: string;
	keywords: string;
	description: string;
}

const { title, keywords, description } = Astro.props;
---

<!doctype html>
<html class="h-full bg-white" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<meta name="author" content="MNL Innovation" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content="Dashboard" />
		<title>{title}</title>

		<!-- Cloudflare reCAPTCHA -->
		<script
			is:inline
			src="https://challenges.cloudflare.com/turnstile/v0/api.js"
			async
			defer></script>

		<!-- emailjs config -->
		<script
			is:inline
			type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
		></script>

		<!-- emailjs init -->
		<script is:inline type="text/javascript">
			(function () {
				emailjs.init({
					publicKey: "FxrijuoXpE9UWFLKJ",
				});
			})();
		</script>
	</head>
	<body>
		<div class="bg-white">
			<Header />

			<main class="isolate">
				<slot />
			</main>

			<!-- Footer -->
			<div class="mx-auto mt-32 max-w-7xl px-6 lg:px-8">
				<Footer />
			</div>
		</div>
	</body>
</html>

<script>
	function setupMenuToggle() {
		const navBar: HTMLElement = document.getElementById("navBar")!;
		const closeNavBar = document.getElementById("closeNavBar")!;
		const openNavBar = document.getElementById("openNavBar")!;

		closeNavBar.addEventListener("click", toggleMenu);
		openNavBar.addEventListener("click", toggleMenu);

		function toggleMenu() {
			navBar.classList.toggle("hidden");
		}
	}

	// Inicializar el menú toggle al cargar la página
	setupMenuToggle();

	// Re-enlazar eventos después de cada navegación
	document.addEventListener("astro:after-swap", () => {
		setupMenuToggle();
	});
</script>
